<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase Confirmation</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' https://*.paypal.com https://*.paypalobjects.com"
    />
    <script src="https://www.paypal.com/sdk/js?client-id=AZ5knaBkW6d-CTM3ihfWMIdicER-JxmX5KohSZpUypi1b4eHA4qDklZkDSXkYWVJT5jd77-QQi6G0_H3"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Purchase Confirmation</h1>
    <div>
      <p th:text="${message}">Purchase Result</p>
      <div id="paypal-button-container"></div>
      <a href="/">Back to Product List</a>
    </div>

    <script th:inline="javascript">
      var amount = /*[[${amount}]]*/ "10.00";
      paypal
        .Buttons({
          createOrder: function (data, actions) {
            return actions.order.create({
              purchase_units: [
                {
                  amount: {
                    value: amount,
                  },
                },
              ],
            });
          },
          onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
              window.location.href =
                "/payment/success?paymentId=" +
                data.paymentID +
                "&payerId=" +
                data.payerID;
            });
          },
        })
        .render("#paypal-button-container");
    </script>
  </body>
</html>
